	<footer>
		<span class="mono desktoponly dull x-small">Build date: {{ now().strftime("%Y-%m-%d") }}</span>

		<span class="dull x-small mono">If you have JavaScript enabled, this site uses <a class="dull" rel="noopener noreferrer" target="_blank" href="https://umami.is">umami↗</a> to collect analytics. For full transparency, the collected data is <a class="dull" rel="noopener noreferrer" target="_blank" href="https://cloud.umami.is/share/TeJox8X4itmIy6ht">public↗</a>.</span>
	</footer>
	</main>
	<script defer src="https://cloud.umami.is/script.js" data-website-id="5e36c093-8cb3-498e-8957-e87123056b85"></script>
</body>
</html>
